<div class="footer-section">
    <div class="contact-header">
        <div class="line"></div>
        <div class="footer-img">
            <img src="./images/facebook.png" alt="" srcset="">
            <img src="./images/twitter.png" alt="" srcset="">
            <img src="./images/linkedin.png" alt="" srcset="">
            <img src="./images/github.png" alt="" srcset="">
        </div>
        <div class="line"></div>
    </div>
    <footer>
        {{!-- <p>All rights reserved | copyright &copy chaitanyghadigaonkar.com </p> --}}
        <p>Built with ❤️ by Chaitany Ghadigaonkar</p>
    </footer>
</div>