<div class="about-container width-60 margin-auto">
    <h1>About</h1>
    <div class="ab-h1-para">
        <div class="ab-line"></div>
        <div class="about-para">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque neque sapiente atque
                nesciunt dicta, iste repellat minima vel ipsam corporis odio soluta quibusdam adipisci esse
                perspiciatis rem aperiam. Cum explicabo modi iste nesciunt, maxime nulla laboriosam, tempore
                voluptas inventore consequuntur, pariatur libero saepe temporibus fugit excepturi distinctio
                accusantium? Debitis eaque reprehenderit quis enim quibusdam nam perspiciatis tenetur sint,
                perferendis officiis, dignissimos molestias saepe recusandae neque vero mollitia voluptatum,
                nulla eius!</p>
        </div>
    </div>
</div>