<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
    {{>Header}}
    <div class="about-page width-60 margin-auto">
        {{!-- <h1>About</h1> --}}
        <h1 id="education-h1 margin-auto">Education</h1>
        <div class="education margin-auto">
            <div class="education-comp width-60 margin-auto">
                <div class="year">
                    <p>2020 - 2024</p>
                </div>
                <div class="vert-line">
                    <div class="circle">

                    </div>
                    <div class="line">

                    </div>
                </div>
                <div class="content">
                    <h2>B.E Computer Engineering</h2>
                    <p>Viva Institute of Technology, Virar</p>
                    <p>8.5 CGPA</p>
                </div>

            </div>
        </div>
        <div class="education  margin-auto">
            <div class="education-comp width-60 margin-auto">
                <div class="year">
                    <p>2018 - 2020</p>
                </div>
                <div class="vert-line">
                    <div class="circle">

                    </div>
                    <div class="line">

                    </div>
                </div>
                <div class="content">
                    <h2>HSC (Science)</h2>
                    <p>N. G. K. Ghokhale Jr. College, Borivali</p>
                    <p>80.46%</p>
                </div>

            </div>
        </div>
        <div class="education margin-auto">
            <div class="education-comp width-60 margin-auto">
                <div class="year">
                    <p>2008 - 2018</p>
                </div>
                <div class="vert-line">
                    <div class="circle">

                    </div>
                    <div class="line">

                    </div>
                </div>
                <div class="content">
                    <h2>SSC </h2>
                    <p>L. S. Vidyalaya, Dahisar</p>
                    <p>92.80%</p>
                </div>

            </div>
        </div>
    </div>

    {{>Footer}}
</body>

</html>