<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaitany Ghadigaonkar</title>
</head>

<body>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chaitany Ghadigaonkar </title>
        <link rel="stylesheet" href="css/style.css">
          <link rel="stylesheet" href="css/responsive.css">

    </head>

    <body>
        {{>Header}}
        <section id="middle">
            <div class="intro">
                <div class="intro-head">
                    <h1>I'm <strong>Chaitany Ghadigaonkar</strong></h1>
                    <h2>Web Developer</h2>
                </div>

                <button class="contact-me">
                    Download CV
                </button>
            </div>
            <div class="my-photo">

            </div>
            {{!-- <div class="social-media">
                <div class="line"></div>
                <img src="./images/facebook.png" alt="" srcset="">
                <img src="./images/twitter.png" alt="" srcset="">
                <img src="./images/linkedin.png" alt="" srcset="">
                <img src="./images/github.png" alt="" srcset="">
            </div> --}}
        </section>
        <div class="About">
            <div class="about-container width-60 margin-auto">
                <h1>About</h1>
                <div class="ab-h1-para">
                    <div class="ab-line"></div>
                    <div class="about-para">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque neque sapiente atque
                            nesciunt dicta, iste repellat minima vel ipsam corporis odio soluta quibusdam adipisci esse
                            perspiciatis rem aperiam. Cum explicabo modi iste nesciunt, maxime nulla laboriosam, tempore
                            voluptas inventore consequuntur, pariatur libero saepe temporibus fugit excepturi distinctio
                            accusantium? Debitis eaque reprehenderit quis enim quibusdam nam perspiciatis tenetur sint,
                            perferendis officiis, dignissimos molestias saepe recusandae neque vero mollitia voluptatum,
                            nulla eius!</p>
                    </div>
                </div>
            </div>
            <div class="my-skills width-80 margin-auto">
                <h1>My Skills</h1>

                <div class="skill-box width-60 margin-auto">
                    <div class="skill">
                        <div class="skill-logo">
                            <img src="./images/java.png" alt="" srcset="">
                        </div>
                        <div class="skill-name">
                            <h2>Java</h2>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="skill-logo">
                            <img src="./images/react.png" alt="" srcset="">
                        </div>
                        <div class="skill-name">
                            <h2>React Js</h2>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="skill-logo">
                            <img src="./images/mongodb.png" alt="" srcset="">
                        </div>
                        <div class="skill-name">
                            <h2>Mongo DB</h2>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="skill-logo">
                            <img src="./images/nodejs.png" alt="" srcset="">
                        </div>
                        <div class="skill-name">
                            <h2>Node Js</h2>
                        </div>
                    </div>


                </div>
                <div class="skill-box width-60 margin-auto">
                    <div class="skill">
                        <div class="skill-logo">
                            <img src="./images/javascript.png" alt="" srcset="">
                        </div>
                        <div class="skill-name">
                            <h2>JavaScript</h2>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="skill-logo">
                            <img src="./images/css3.png" alt="" srcset="">
                        </div>
                        <div class="skill-name">
                            <h2>CSS 3</h2>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="skill-logo">
                            <img src="./images/html5.png" alt="" srcset="">
                        </div>
                        <div class="skill-name">
                            <h2>HTML 5</h2>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="project-section">
            <div class="project-con width-80 margin-auto">
                <h1>My Projects</h1>
                <div class="project-items">
                    <div class="p-item">
                        <div class="p-item-img">
                            <a href="https://chaitanyghadigaonkar.github.io/Foot-Restaurant-Website/" target="_blank">
                                <img src="./images/food-restorent.png" class="static" alt="" srcset="">
                                <img src="./images/Restorant.gif" class="active" alt="" srcset="">
                            </a>
                        </div>
                        <div class="project-more-info">
                            <div class="proj-h1">
                                <h1>Landing Page - Food Restorant</h1>
                            </div>
                            <div class="proj-desc">
                                <p>I have created the Landing page for Restorant using HTML CSS and JavaScript.</p>
                            </div>
                        </div>
                    </div>
                    <div class="p-item">
                        <div class="p-item-img">
                            <a href="">
                                <img src="./images/flipkart.png" alt="" srcset="">
                            </a>

                        </div>
                        <div class="project-more-info">
                            <div class="proj-h1">
                                <h1>FrontEnd Flipkart Clone</h1>
                            </div>
                            <div class="proj-desc">

                                <p>I have created the FrontEnd of flipkart using HTML CSS and JavaScript.</p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="project-items">
                    <div class="p-item">
                        <div class="p-item-img">
                            <a href="">
                                <img src="./images/r-p-s.png" alt="" srcset="">
                            </a>

                        </div>
                        <div class="project-more-info">
                            <div class="proj-h1">
                                <h1>Rock Paper Scissors..</h1>
                            </div>
                            <div class="proj-desc">
                                <p>Traditional Rock Paper Scissors with good GUI using React Js.</p>
                            </div>
                        </div>
                    </div>
                    <div class="p-item">
                        <div class="p-item-img">
                            <a href="">
                                <img src="./images/News-app.png" alt="" srcset="">
                            </a>

                        </div>
                        <div class="project-more-info">
                            <div class="proj-h1">
                                <h1>News-app</h1>
                            </div>
                            <div class="proj-desc">
                                <p>News-app using News API in React.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="more-projects width-80  margin-auto">
                    <button class="m-p-btn">
                        <a href="/more-projects">See More</a>
                    </button>
                </div>

            </div>
        </div>
        <div class="contact-section">
            <div class="contact-header width-60 m-auto">
                <div class="line"></div>
                <h1>Contact Me</h1>
                <div class="line"></div>
            </div>
            <div class="contact-form  ">
                <div class="contact-left">
                    <div class="contact-items">
                        <div class="item">
                            <div class="item-logo">
                                <img src="./images/mail-64.png" alt="" srcset="">
                            </div>
                            <h3>chaitanyghadigaonkar28@gmail.com</h3>
                        </div>
                        <div class="item" id="item-2">
                            <div class="item-logo ">
                                <img src="./images/pin-8-64.png" alt="" srcset="">
                            </div>
                            <h3>Dahisar, Mumbai.</h3>
                        </div>
                    </div>

                </div>
                <div class="contact-right">
                    <h1>Contact Me</h1>
                    <form action="/send" method="post">
                        <input type="text" name="name" placeholder="Enter Your Name" required>
                        <input type="email" name="email" placeholder="Enter Your Email" required>
                        <textarea name="message" placeholder="Your Message " required></textarea>
                        <input type="submit" value="submit">
                    </form>
                </div>
            </div>
        </div>
        {{>Footer}}
        <script src="/JS/hamburger.js"></script>
    </body>

    </html>