<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/project.css">
  <link rel="stylesheet" href="css/responsive.css">
  <title>Projects</title>
</head>

<body>
  {{>Header}}
  <div class="detailed-projects width-60 m-auto">
    <h1>My Projects</h1>
    <div class="project-container width-60 m-auto">
      <div class="project-box">
        <a href="https://chaitanyghadigaonkar.github.io/Rock-Paper-Scissors/" target="_blank">
          {{!-- <img class="static" src="images/food-restorent.png" alt="" srcset=""> --}}
          <img class="active" src="./images/r-p-s.png" alt="" srcset="">
        </a>
        <div class="project-box-details">
          <h2>Rock Paper Scissors..</h2>
          <p>Traditional rock paper scissors - React Js</p>
        </div>
      </div>
      <div class="project-box">
        <a href="" target="_blank">
          {{!-- <img class="static" src="images/food-restorent.png" alt="" srcset=""> --}}
          <img class="active" src="./images/News-app.png" alt="" srcset="">
        </a>
        <div class="project-box-details">
          <h2>News-app</h2>
          <p>News-app using News API - React Js </p>
        </div>
      </div>
      <div class="project-box">
        <a href="https://chaitanyghadigaonkar.github.io/Foot-Restaurant-Website/" target="_blank">
          {{!-- <img class="static" src="images/food-restorent.png" alt="" srcset=""> --}}
          <img class="active" src="images/Restorant.gif" alt="" srcset="">
        </a>
        <div class="project-box-details">
          <h2>Food Restorant : Landing Page</h2>
          <p>Landing page template for food restorents.</p>
        </div>
      </div>
    </div>
    <div class="project-container">

      <div class="project-box">
        <a href="https://chaitanyghadigaonkar.github.io/Frontend-Flipkart-Clone/" target="_blank">
          {{!-- <img class="static" src="images/food-restorent.png" alt="" srcset=""> --}}
          <img class="active" src="./images/flipkart.png" alt="" srcset="">
        </a>
        <div class="project-box-details">
          <h2>Flipkart Clone</h2>
          <p>Frontend Flipkart Clone - HTML, CSS, JavaScript </p>
        </div>
      </div>
      <div class="project-box">
        <a href="https://chaitanyghadigaonkar.github.io/Foot-Restaurant-Website/" target="_blank">
          {{!-- <img class="static" src="images/food-restorent.png" alt="" srcset=""> --}}
          <img class="active" src="images/Restorant.gif" alt="" srcset="">
        </a>
        <div class="project-box-details">
          <h2>Food Restorant : Landing Page</h2>
          <p>Landing page template for food restorents.</p>
        </div>
      </div>
    </div>
  </div>

  {{>Footer}}
  <script src="/JS/hamburger.js"></script>
</body>

</html>